*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

html,body{
    height: 100%;
    width: 100%;
   
    
}

#container{
    background-color: #16151566;
    background: linear-gradient(
    135deg,
    rgba(21, 20, 20, 0.004),
    rgba(18, 17, 17, 0.876)
  );
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#main{
    height: 80vh;
    width: 80vw;
    background-color: #3f3d3d66;
    display: flex;
}

#main-left{
    /* background-color: #360b6b; */
    height: 100%;
    width: 40%;
    position: relative;

  background: rgba(122, 112, 112, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #fff;
   background: linear-gradient(
    135deg,
    rgba(255,255,255,0.25),
    rgba(18, 17, 17, 0.235)
  );
}

#nav-bar{
    /* background-color: #8cc4e0; */
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}

#nav-bar #nav-right{
    display: flex;
    align-items: center;
}

#nav-bar #nav-right a{
    margin: 0px 12px;
    text-decoration: none;
    color: black;
    font-weight: 400; 
    font-size: 20px;
}


#nav-bar #nav-right i{
    color: black;
    padding-top: 2px;
}

#main-left #text-content a{
    text-decoration: none;
    font-weight: 300;
    padding-top: 6px;
}

#main-left #text-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-left #text-content h1{
    font-size: 40px;
    font-weight: 100;
    padding-bottom: 3px;
}

#main-right{
    background-color: #0b6b4d;
    height: 100%;
    width: 60%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #625b5b;
}

#main-right #r-top{
    height: 60%;
    width: 100%;
    background: #8eb90d;
    display: flex;
}



#r-top #top-left{
    height: 100%;
    width: 55%;
    background-image: url(https://i.pinimg.com/736x/3d/9e/b3/3d9eb3e4d9c9fd9876c1a62e5e17a4d3.jpg);
    background-position: center;
    background-size: cover;
}

#r-top #top-right{
    height: 100%;
    width: 45%;
    background-image: url(https://i.pinimg.com/736x/ad/9d/d0/ad9dd0bd797740e23775f4624287d93d.jpg);
    /* background-image: url("Music.jpg"); */
    background-position: center;
    background-size: cover;
}

#main-right #r-bottom{
    height: 40%;
    width: 100%;
    background-image: url(https://i.pinimg.com/1200x/32/57/29/325729c8b102fae036f10e4d054c5f12.jpg);
   
    background-position:bottom;
    background-size: cover;
    
}


/* responsive */

@media (max-width: 500px) {

  /* Container */
  #container {
    align-items: flex-start;
    padding: 20px 0;
  }

  /* Main layout */
  #main {
    flex-direction: column;
    width: 95vw;
    height: auto;
  }

  /* Left section */
  #main-left {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
  }

  /* Fix absolute center issue */
  #main-left #text-content {
    position: static;
    transform: none;
    margin-top: 60px;
    padding: 0 20px;
  }

  #main-left #text-content h1 {
    font-size: 34px;
  }

  #main-left #text-content p {
    font-size: 14px;
    line-height: 1.6;
  }

  /* Navbar */
  #nav-bar {
    padding: 15px;
  }

  #nav-bar #nav-right a {
    font-size: 16px;
    margin: 0 8px;
  }

  /* Right section */
  #main-right {
    width: 100%;
    height: auto;
  }

  #main-right #r-top {
    flex-direction: column;
    height: auto;
  }

  #r-top #top-left,
  #r-top #top-right {
    width: 100%;
    height: 200px;
  }

  #main-right #r-bottom {
    height: 220px;
  }
}
